extends ../layout/default.pug

block title
  title tzekid | Dis be an example

block default
  .art_head
    a(href="/").art_title #[h1.logo.quando.red.art_logo <{ tzekid }>]
    
  article.josefin
    .markdown
      :markdown-it(html typographer linkify langPrefix='highlight-')
        # Header

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. $$\int_{0}^{\pi}\frac{x^{4}\left(1-x\right)^{4}}{1+x^{2}}dx =\frac{22}{7}-\pi$$ It has survived not only five centuries, but also the leap  into electronic typesetting, remaining essentially unchanged. 

        ## War ... war never changes.
        
        ```ruby
        def foo(bar)
          puts bar.foo
        end
        ```

        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        <input id="example" type="checkbox" /><label for="example"> An <a href="#" target="_blank">example</a> checkbox-thingie.</label>


      :markdown-it(linkify langPrefix='highlight-')
        And this is my template.
      
  
  a(href="./index.html").go_back.quando.red <{ index }>