extends ../layout/default.pug

block title
  title tzekid | articles

block default
  .art_head
    a(href="/").art_title #[h1.logo.quando.red.art_logo <{ tzekid }>]
  
  .articles.josefin
    .article #[span July 2017] #[a(href="./00_crystal.html") Example Article]
