extends ../layout/default.pug

block title
  title tzekid | articles

block default
  .art_head
    a(href="/").art_title #[h1.logo.quando.red.art_logo <{ tzekid }>]
  
  .articles.josefin
    .article #[span August 2017] #[a(href="./infosec-basics.html") Introduction to Web Development]
    .article #[span August 2017] #[a(href="./on-phishing.html") Phishing for Dummies]
    .article #[span July 2017] #[a(href="./crystal-guessing-game.html") Writing a guessing game in Crystal lang]
