.quando {
  font-family: 'Quando';
}
.josefin {
  font-family: 'Josefin Sans';
}
.red {
  color: #d64937;
}
.red-darker {
  color: #c1292e;
}
footer::after,
header::after {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  content: '';
}
header::after {
  background: linear-gradient(to right, #fdfffc, #c1292e 33%, #235789 66%, #161925 100%);
  top: 0;
}
footer::after {
  background: linear-gradient(to left, #fdfffc, #c1292e 33%, #235789 66%, #161925 100%);
  bottom: 0;
}
html {
  width: 100%;
  height: 100%;
}
h1.logo {
  padding: 0px;
  font-size: 60px;
}
.container {
  width: 920px;
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container p {
  margin: 0 0;
  padding: 0 0;
  font-size: 26px;
}
.container .big {
  font-size: 36px;
}
.container .small {
  font-size: 22px;
}
.container .smaller {
  font-size: 18px;
  font-weight: 200;
}
.container .smaller .quando {
  font-size: 14px;
}
@media screen and (max-width: 920px) {
  .container {
    width: 80vw;
  }
  .container p {
    font-size: 20px;
  }
  .container .big {
    font-size: 28px;
  }
  .container .small {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  h1.logo {
    font-size: 40px;
  }
}
