/****************************************/
/************** GLOBALS *****************/
/****************************************/
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.quando {
  font-family: 'Quando';
}
.josefin {
  font-family: 'Josefin Sans';
}
.red {
  color: #d64937;
}
.red-darker {
  color: #c1292e;
}
footer::after,
header::after {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  content: '';
}
header::after {
  background: linear-gradient(to right, #fdfffc, #c1292e 33%, #235789 66%, #161925 100%);
  top: 0;
}
footer::after {
  background: linear-gradient(to left, #fdfffc, #c1292e 33%, #235789 66%, #161925 100%);
  bottom: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
/****************************************/
/************** MAIN PAGE ***************/
/****************************************/
h1.logo {
  padding: 0px;
  font-size: 60px;
}
.container {
  width: 920px;
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container p {
  margin: 0 0;
  padding: 0 0;
  font-size: 26px;
}
.container .big {
  font-size: 36px;
}
.container .small {
  font-size: 22px;
}
.container .smaller {
  font-size: 18px;
  font-weight: 200;
}
.container .smaller .quando {
  font-size: 14px;
}
/****************************************/
/************** ARTICLES ****************/
/****************************************/
img {
  width: 100%;
  filter: drop-shadow(3px 3px 9px rgba(0,0,0,0.5));
}
.art_head {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1.art_logo {
  width: 860px;
  margin-top: 36px;
  margin-bottom: 12px;
  font-size: 32px;
  text-align: center;
  padding-bottom: 24px;
  border-bottom: 2px solid;
}
a.art_title {
  text-decoration: none;
}
table {
  width: 70%;
  margin-left: 15%;
  justify-content: center;
  align-content: center;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
tr:last-child {
  right: 0;
}
.articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article {
  display: flex;
  width: 860px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.article:last-child {
  padding-bottom: 34px;
}
.article span {
  width: 120px;
  text-align: right;
  padding-right: 0.5em;
}
@media screen and (max-width: 920px) {
  .container {
    width: 90vw;
  }
  .container p {
    font-size: 22px;
    margin-top: 12px;
  }
  .container .big {
    font-size: 30px;
  }
  .container .small {
    font-size: 20px;
    display: none;
  }
  .container h1.logo {
    font-size: 40px;
    align-content: center;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (max-width: 860px) {
  h1.art_logo {
    width: 666px;
  }
  .article {
    width: 666px;
  }
}
@media screen and (max-width: 670px) {
  h1.art_logo {
    width: 480px;
  }
  .article {
    width: 480px;
  }
}
@media screen and (max-width: 479px) {
  .art_head {
    width: 105vw;
  }
  h1.art_logo {
    border: none;
  }
  table {
    width: 90%;
    margin-left: 5%;
  }
  .article {
    width: 100vw;
    margin-left: 10px;
    margin-bottom: 4px;
    justify-content: center;
  }
  .article span {
    display: none;
  }
}
/****************************************/
/********** INDIVIDIAL ARTICLES *********/
/****************************************/
article {
  width: 720px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article h1,
article h2,
article h3 {
  font-family: 'Josefin Sans';
}
article p {
  font-size: 1.2em;
}
article hr {
  width: 90%;
  align-content: center;
  left: auto;
  right: auto;
}
a.go_back {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin-top: 1.5em;
  margin-bottom: 2em;
  font-size: 1.2em;
  text-decoration: none;
}
blockquote {
  padding: 2px 20px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
/************ Checkboxes ****************/
/*  adapted from @barnettjw 's codepen  */
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label:before {
  font-family: "FontAwesome";
  display: inline-block;
}
input[type=checkbox]:not(:checked) + label:before {
  color: #d64937;
  letter-spacing: 10px;
  content: "\f096" /* unchecked icon */;
}
input[type=checkbox]:checked + label:before {
  color: #228b22;
  letter-spacing: 7px;
  content: "\f046"; /*checked icon */
  transition-property: opacity;
}
label {
  cursor: pointer;
  padding: 16px 16px 16px 16px;
  z-index: 0px;
  font-size: 20px;
}
/****************************************/
code {
  background: #eee;
  padding: 2px 2px;
  font-size: 13px;
  overflow: visible;
}
code pre {
  overflow: visible;
}
/****************************************/
/*************** SHOWCASE ***************/
/****************************************/
.art_title.big_title h1 {
  border: none;
  font-size: 48px;
}
.markdown.showcase {
  font-size: 20px;
}
@media screen and (max-width: 860px) {
  article {
    width: 90vw;
  }
  article .markdown {
    width: 95vw;
  }
  article p {
    font-size: 1em;
  }
  article a {
    font-size: 1.1em;
  }
  article label {
    font-size: 1.2em;
  }
  code {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 670px) {
  article {
    width: 90vw;
  }
  article .markdown {
    width: 95vw;
  }
  article p {
    font-size: 0.9em;
  }
  article a {
    font-size: 1em;
  }
  article label {
    font-size: 1.1em;
  }
  code {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 479px) {
  article {
    width: 80vw;
  }
  article .markdown {
    width: 95vw;
  }
  article p {
    font-size: 0.8em;
  }
  article a {
    font-size: 0.9em;
  }
  article label {
    font-size: 1em;
  }
  code {
    font-size: 0.7em;
  }
}
