/****************************************/
/************** GLOBALS *****************/
/****************************************/
.quando {
  font-family: 'Quando';
}
.josefin {
  font-family: 'Josefin Sans';
}
.red {
  color: #d64937;
}
.red-darker {
  color: #c1292e;
}
footer::after,
header::after {
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  content: '';
}
header::after {
  background: linear-gradient(to right, #fdfffc, #c1292e 33%, #235789 66%, #161925 100%);
  top: 0;
}
footer::after {
  background: linear-gradient(to left, #fdfffc, #c1292e 33%, #235789 66%, #161925 100%);
  bottom: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
/****************************************/
/************** MAIN PAGE ***************/
/****************************************/
h1.logo {
  padding: 0px;
  font-size: 60px;
}
.container {
  width: 920px;
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container p {
  margin: 0 0;
  padding: 0 0;
  font-size: 26px;
}
.container .big {
  font-size: 36px;
}
.container .small {
  font-size: 22px;
}
.container .smaller {
  font-size: 18px;
  font-weight: 200;
}
.container .smaller .quando {
  font-size: 14px;
}
@media screen and (max-width: 920px) {
  .container {
    width: 80vw;
  }
  .container p {
    font-size: 20px;
  }
  .container .big {
    font-size: 28px;
  }
  .container .small {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  h1.logo {
    font-size: 40px;
  }
}
/****************************************/
/************** ARTICLES ****************/
/****************************************/
.art_head {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1.art_logo {
  width: 860px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 32px;
  text-align: center;
  padding-bottom: 24px;
  border-bottom: 2px solid;
}
a.art_title {
  text-decoration: none;
}
.articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article {
  display: flex;
  width: 860px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.article:last-child {
  padding-bottom: 34px;
}
.article span {
  width: 120px;
  text-align: right;
  padding-right: 0.5em;
}
@media screen and (max-width: 860px) {
  h1.art_logo {
    width: 666px;
  }
  .article {
    width: 666px;
  }
}
@media screen and (max-width: 670px) {
  h1.art_logo {
    width: 480px;
  }
  .article {
    width: 480px;
  }
}
@media screen and (max-width: 479px) {
  .art_head {
    width: 105vw;
  }
  h1.art_logo {
    border: none;
  }
  .article {
    width: 100vw;
    margin-left: 10px;
    margin-bottom: 4px;
    justify-content: center;
  }
  .article span {
    display: none;
  }
}
/****************************************/
/********** INDIVIDIAL ARTICLES *********/
/****************************************/
article {
  width: 820px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article h1,
article h2,
article h3 {
  font-family: 'Josefin Sans';
}
article p {
  font-size: 1.2em;
}
@media screen and (max-width: 860px) {
  article {
    width: 666px;
  }
}
@media screen and (max-width: 670px) {
  article {
    width: 480px;
  }
}
@media screen and (max-width: 479px) {
  article {
    width: 100vw;
  }
}
a.go_back {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-size: 1.2em;
  text-decoration: none;
}
