{% extends "base.html" %}

{% block content %}

<style>
  h1.title {
    color: var(--red);
    font-size: 128px;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  h1.title.family-name {
    margin-top: -42px;
  }

  h1.title > span {
    opacity: 0.75;
  }
</style>

<h1 class="title">
    <span>Mircea</span> Ilie
</h1>
<h1 class="title family-name">
  Ploscaru
</h1>


{% for page in paginator.pages %}
<section class="post animated fadeInDown">
  <div class="post-title">
          <h3><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
  </div>
{% endfor %}
{% endblock content %}