doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  title Mircea Ilie Ploscaru

  style.
    @font-face {
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5j0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
      font-family: 'Josefin Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
    @font-face {
      font-family: 'Quando';
      font-style: normal;
      font-weight: 400;
      src: local('Quando-Regular'), url(https://fonts.gstatic.com/s/quando/v5/Oeohr3r1MT36PpT5mWulufesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
      font-family: 'Quando';
      font-style: normal;
      font-weight: 400;
      src: local('Quando-Regular'), url(https://fonts.gstatic.com/s/quando/v5/PH1InQe0rvp_yN3TzIuyyQ.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }


  link(rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='./normalize.min.css')
  link(rel='stylesheet' href='./stylez.css')
body
  header

  .container
    h1.logo.quando.red <{ tzekid }>
    p.josefin #[span.small Hey & what's up?] #[span.big I'm Ilie Ploscaru], a #[span.big problem solver] and CS student in Germany
    p.josefin I usualy #[a(href="https://github.com/tzekid") code], sometimes #[a(href="#") write], and other times just #[a(href="#") day-dream]
    p.josefin If you want to talk, #[a(href="mailto:tzekid2010@gmail.com") contact me]. #[span.smaller btw, I really #[span.quando <3] coffee :)] 

  footer