extends layout/default.pug

block title
  title tzekid | Ilie Ploscaru

block default
  .container
    h1.logo.quando.red <{ tzekid }>
    p.josefin #[span.small Hey & what's up?] #[span.big I'm Ilie Ploscaru], a #[span.big problem solver] and CS student in Germany
    p.josefin I usualy #[a(href="https://github.com/tzekid") code], sometimes #[a(href="./articles/index.html") write], and other times just #[a(href="#") day-dream]
    p.josefin If you want to talk, #[a(href="mailto:tzekid2010@gmail.com") contact me]. #[span.smaller btw, I really #[span.quando <3] coffee :)] 

