@font-face
    font-family 'Josefin Sans'
    font-style normal
    font-weight 400
    src local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5j0LW-43aMEzIO6XUTLjad8.woff2) format('woff2')
    unicode-range U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

@font-face
    font-family 'Josefin Sans'
    font-style normal
    font-weight 400
    src local('Josefin Sans'), local('JosefinSans'), url(https://fonts.gstatic.com/s/josefinsans/v9/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2')
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

@font-face
    font-family 'Quando'
    font-style normal
    font-weight 400
    src local('Quando-Regular'), url(https://fonts.gstatic.com/s/quando/v5/Oeohr3r1MT36PpT5mWulufesZW2xOQ-xsNqO47m55DA.woff2) format('woff2')
    unicode-range U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

@font-face
    font-family 'Quando'
    font-style normal
    font-weight 400
    src local('Quando-Regular'), url(https://fonts.gstatic.com/s/quando/v5/PH1InQe0rvp_yN3TzIuyyQ.woff2) format('woff2')
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

.quando
  font-family: 'Quando'

.josefin
  font-family: 'Josefin Sans'

.red
  color: #d64937

.red-darker
  color: #C1292E

header
  &::after
      background: linear-gradient(to right, #FDFFFC, #C1292E 33%, #235789 66%, #161925 100%)
      width: 100%
      height: 5px
      top: 0
      position: absolute
      left: 0
      content: ''

footer
  &::after
      background: linear-gradient(to right, #161925, #235789 33%, #C1292E 66%, #FDFFFC 100%)
      width: 100%
      height: 5px
      bottom: 0
      position: absolute
      left: 0
      content: ''

body
  height: 100vh
  width: 100vw

a.logo
  padding: 35vh
  h1
    font-size: 4.5em  
    &::after
      content: '<{ x }>'

  &:visited, &:active
    h1
      &::after
        content: '<{ In Progress }>'

.is-hugo
  font-size: 3.5em

@media screen and (max-width: 860px)
  a.logo
    h1
      font-size: 3.5em