/****************************************/
/************** GLOBALS *****************/
/****************************************/

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css)

.quando
  font-family: 'Quando'

.josefin
  font-family: 'Josefin Sans'

$red = #d64937
.red
  color: $red

$red-darker = #C1292E
.red-darker
  color: $red-darker

footer
header
  &::after
      width: 100%
      height: 5px
      position: absolute
      left: 0
      content: ''

header::after
  background: linear-gradient(to right, #FDFFFC, #C1292E 33%, #235789 66%, #161925 100%)
  top: 0

footer::after
  background: linear-gradient(to left, #FDFFFC, #C1292E 33%, #235789 66%, #161925 100%)
  bottom: 0

html
body
  width: 100%
  height: 100%

  overflow-x: hidden
  overflow-y: auto


/****************************************/
/************** MAIN PAGE ***************/
/****************************************/


h1.logo
  padding: 0px
  font-size: 60px  

.container
  width: 920px
  height: 100vh
  display: flex
  margin-left: auto
  margin-right: auto
  flex-direction: column
  align-items: center
  justify-content: center
  p
    margin: 0 0
    padding: 0 0
    font-size: 26px
  .big
    font-size: 36px
  .small
    font-size: 22px
  .smaller
    font-size: 18px
    font-weight: 200
    .quando
      font-size: 14px

		
@media screen and (max-width: 920px)
  .container
    width: 80vw
    p
      font-size: 20px
    .big
      font-size: 28px
    .small
      font-size: 20px


@media screen and (max-width: 500px)
  h1.logo
    font-size: 40px



/****************************************/
/************** ARTICLES ****************/
/****************************************/



.art_head
  width: 100vw
  display: flex
  justify-content: center
  align-items: center

h1.art_logo
  width: 860px
  margin-top: 36px
  margin-bottom: 12px
  font-size: 32px
  text-align: center
  padding-bottom: 24px
  border-bottom: 2px solid



a.art_title
  text-decoration: none

.articles
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.article
  display: flex
  width: 860px
  margin-top: 2px
  margin-bottom: 2px
  &:last-child
    padding-bottom: 34px
  
  span
    width: 120px
    text-align: right
    padding-right: .5em

@media screen and (max-width: 860px)
  h1.art_logo
    width: 666px
  .article
    width: 666px

@media screen and (max-width: 670px)
  h1.art_logo
    width: 480px
  .article
    width: 480px

@media screen and (max-width: 479px)
  .art_head
    width: 105vw

  h1.art_logo
    border: none
  
  .article
    width: 100vw
    margin-left: 10px
    margin-bottom: 4px
    justify-content: center

    span
      display: none



/****************************************/
/********** INDIVIDIAL ARTICLES *********/
/****************************************/

article
  width: 820px
  display: flex
  margin-left: auto
  margin-right: auto
  flex-direction: column
  align-items: center
  justify-content: center

  h1, h2, h3
    font-family: 'Josefin Sans'

  p
    font-size: 1.2em

@media screen and (max-width: 860px)
  article
    width: 666px
    

@media screen and (max-width: 670px)
  article
    width: 480px

@media screen and (max-width: 479px)
  article
    width: 100vw


a.go_back
  display: flex
  margin-left: auto
  margin-right: auto
  flex-direction: column
  align-items: center
  justify-content: center
  
  bottom: 0
  margin-top: 1.5em
  margin-bottom: 2em

  font-size: 1.2em
  text-decoration: none

/************ Checkboxes ****************/
/*  adapted from @barnettjw 's codepen  */
input[type=checkbox] { display:none; }
input[type=checkbox] + label:before
  font-family: "FontAwesome"
  display: inline-block

input[type=checkbox]:not(:checked) + label:before
  color: #d64937
  letter-spacing: 10px
  content: "\f096" /* unchecked icon */


input[type=checkbox]:checked + label:before
  color: forestgreen
  letter-spacing: 7px;
  content: "\f046"; /*checked icon */
  transition-property: opacity

label
  cursor: pointer
  padding: 16px 16px 16px 16px
  z-index: 0px
  font-size: 20px
/****************************************/

code
  background: #eee
  padding: 2px 2px
  font-size: 13px

/****************************************/
/*************** SHOWCASE ***************/
/****************************************/

.art_title.big_title h1
  border: none
  font-size: 48px

.markdown.showcase
  font-size: 20px
