extends ../layout/default.pug

block title
  title tzekid | showcase

block default
  .art_head
    a(href="/").art_title.big_title #[h1.logo.quando.red.art_logo <{ tzekid }>]
    
  article.josefin
    .markdown.showcase
      :markdown-it(linkify langPrefix='highlight-')
        # How can I help you ?
        I can help you build an online presence by telling your [story](./story) bringing forth new [dimensions](./dimension), [showcasing](./showcase) your [product](./product) or [services](./service), or to [hype](./hype) the next big thing.

        I also like using cutting edge technology, help Open Source Software and build tools for fun which get the job done. For more on that check out [my github account](https://github.com/tzekid). 

        If you like what you see, just hit me up by [email](mailto:tzekid2010@gmail.com) or by the following form:

    //- -------------------------------- -//
    //- ---------- TYPEFORM ------------ -// 
    //- -------------------------------- -//  
    .typeform-widget(data-url='https://tzekid.typeform.com/to/vNJZ0b', data-text='Contact Form', style='width: 100%;height: 520px;overflow-x: hidden; overflow-y: hidden;')
    script.
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
